/* Global */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&family=Roboto:wght@100;300;400;500;700&display=swap');
body {
    font-family: Roboto;
    padding: 0px;
    margin: 0px;
    background-color: blue;
    
}

/* Home Page*/

#hero{
  width: 100vw;
  height: 100vh;
  background: url("/background.jpg");
  background-size: cover;
  font-family: Roboto;
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
}

#heroText,#heroImage{
  width:400px;
  height: 400px;
  margin: 0 50px;
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#heroImage{
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
#heroImage img{
 height: 370px;
 width: 370px;
border-radius: 50%;
}

#hero h1{
  font-size: 52px;
}
#hero p{
  font-size: 26px;
}

#getStarted{
  padding: 10px 25px;
  border: 2px solid white;
  text-decoration: none;
  color: white;
  font-weight: 700;
  transition: 0.5s ease;
}
#getStarted:hover{
  background-color: white;
  color: blue;
}

#intructions{
  height: 65vh;
  width: 100vw;
  background-color: rgb(0, 153, 255);
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#intructions  h2{
  font-size: 35px;
  margin-top: 60px;
  color:white;
}
#intructions  img{
  width: 400px;
  height: 250px;
}

#features{
  width: 100vw;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: Roboto;
  color:white;
  background-color: #40a9ff;
}
#features h2{
  font-size: 35px;;
}
#cardContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 
}

.card{

  margin-top: 60px;
  width: 200px;
  height: 150px;
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-right: 40px;
  text-align: center;
}


@media (max-width: 900px) {
  #hero{
    flex-direction: column-reverse;
    height: 150vh;
  }
  #heroImage{
    margin-top: 100px;
  }
}
@media (max-width: 490px) {
  #hero{
    flex-direction: column-reverse;
    height: 110vh;
    
  }

  #heroImage{
    
    height: 370px;
    width: 370px;
  }
  #heroImage img{
   height: 340px;
   width: 340px;

  }
  #heroText h1{
    font-size:29px;
    padding: 10px;
  }
  #hero p{
    font-size: 16px;
  }
  #intructions  img{
    height: 250px;
    width: 320px;
  }
  #features{
    height: 150vh;
  }
  #cardContainer{
    flex-direction: column;
    align-items: center;
    justify-content: center;
   width: 340px;
  }

  .card{
    height: 200px;
    margin:20px 0px;
  }


}
/* Chats Page */

.chats-page {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  font-family: Roboto !important;
}
.ce-chats-container,
#ce-feed-container,
 .ce-settings,
 .ce-chat-title-container,
 .ce-input,
 #msg-textarea{
  font-family: Roboto !important;
}

.nav-bar {
  width: 100%;
  height: 66px;
  background-color: #002766;
}

.logo-tab {
  position: absolute;
  left: 22px;
  top: 12px;
  font-size: 32px;
  font-weight: 700;
  color: white;
}

.logout-tab {
  position: absolute;
  top: 22px;
  right: 22px;
  color: white;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

/* Login Page */

#login-page {
  font-family: Roboto;
  background-image: linear-gradient(#40a9ff, #096dd9);
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

#login-card {
  position: relative;
  top: calc(50vh - 144px);
  left: calc(50vw - 210px);
  padding-top: 36px;
  padding-bottom: 66px;
  width: 420px;
  text-align: center;
  background-color: white;
  border-radius: 22px;
}

.login-button {
  cursor: pointer;
  color: white;
  padding: 12px;
  border-radius: 8px;
  display: inline-block;
}

.facebook {
  background-color: #3b5998;
}

.google {
  background-color: #4285f4;
  color: white;
}

#loading-container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgb(255, 255, 255, 0.22);
}

#loading-icon {
  font-size: 66px;
  position: relative;
  left: calc(50vw - 33px);
  top: calc(50vh - 22px);
}


/*Footer Page*/
#footer{
  height: 25vh;
  background-color: rgb(37, 37, 37);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#footer p{
  color: rgb(148, 147, 147);
  margin-top: 40px;

}

#footerLinks{
  display: flex;
  justify-content: center;
}
.footerLink{
  height: 6vh;
  color:rgb(148, 147, 147);
  padding: 10px;
  background-color: rgb(75, 72, 72);
  border-radius: 50%;
  transition: 0.5s ease;
  margin: 0 20px;
}

.footerLink:hover{
  color:  #40a9ff;;
}